openapi: 3.2.0
info:
  title: Salesforce Einstein Datasets API
  version: 2.0.0
  contact:
    name: Salesforce Developer Support
    url: https://developer.salesforce.com/
  license:
    name: Salesforce Master Subscription Agreement
    url: https://www.salesforce.com/company/legal/agreements/
  termsOfService: https://www.salesforce.com/company/legal/agreements/
  description: 'Operations tagged Datasets across 2 of this provider''s published API definitions: salesforce-einstein-language-openapi.yml, salesforce-einstein-vision-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.einstein.ai/v2/language
  description: Einstein Language Production Server
- url: https://api.einstein.ai/v2/vision
  description: Einstein Vision Production Server
security:
- bearerAuth: []
tags:
- name: Datasets
  description: Manage text datasets for training models
paths:
  /datasets:
    get:
      operationId: listDatasets
      summary: Salesforce Einstein List datasets
      description: Returns a list of all language datasets associated with the account.
      tags:
      - Datasets
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: count
        in: query
        schema:
          type: integer
          default: 25
          maximum: 100
      responses:
        '200':
          description: Successful response with list of datasets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createDataset
      summary: Salesforce Einstein Create a dataset
      description: Creates a new text classification dataset.
      tags:
      - Datasets
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the dataset.
                type:
                  type: string
                  enum:
                  - text-sentiment
                  - text-intent
                  description: Type of the dataset.
                path:
                  type: string
                  description: URL of the .csv file containing training data.
              required:
              - name
              - type
      responses:
        '200':
          description: Dataset created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.einstein.ai/v2/language
      description: Einstein Language Production Server
  /datasets/{datasetId}:
    get:
      operationId: getDataset
      summary: Salesforce Einstein Get a dataset
      description: Returns details of a specific language dataset.
      tags:
      - Datasets
      parameters:
      - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: Successful response with dataset details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDataset
      summary: Salesforce Einstein Delete a dataset
      description: Deletes a dataset and all associated examples and models.
      tags:
      - Datasets
      parameters:
      - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: Dataset deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://api.einstein.ai/v2/language
      description: Einstein Language Production Server
components:
  responses:
    BadRequest:
      description: Bad request. Invalid parameters or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized. Invalid or missing bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        errorCode:
          type: string
          description: Machine-readable error code.
    LabelSummary:
      type: object
      properties:
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
    Label:
      type: object
      properties:
        id:
          type: integer
        datasetId:
          type: integer
        name:
          type: string
        numExamples:
          type: integer
    Dataset:
      type: object
      properties:
        id:
          type: integer
          description: Unique dataset identifier.
        name:
          type: string
          description: Name of the dataset.
        type:
          type: string
          enum:
          - text-sentiment
          - text-intent
          description: Type of the dataset.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        labelSummary:
          $ref: '#/components/schemas/LabelSummary'
        totalExamples:
          type: integer
        totalLabels:
          type: integer
        available:
          type: boolean
        statusMsg:
          type: string
        object:
          type: string
    DatasetList:
      type: object
      properties:
        object:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
    Label_2:
      type: object
      properties:
        id:
          type: integer
          description: Unique label identifier.
        datasetId:
          type: integer
          description: Dataset the label belongs to.
        name:
          type: string
          description: Label name.
        numExamples:
          type: integer
          description: Number of examples with this label.
    Dataset_2:
      type: object
      properties:
        id:
          type: integer
          description: Unique dataset identifier.
        name:
          type: string
          description: Name of the dataset.
        type:
          type: string
          enum:
          - image
          - image-multi-label
          - image-detection
          description: Type of the dataset.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the dataset was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the dataset was last updated.
        labelSummary:
          $ref: '#/components/schemas/LabelSummary'
        totalExamples:
          type: integer
          description: Total number of examples in the dataset.
        totalLabels:
          type: integer
          description: Total number of labels in the dataset.
        available:
          type: boolean
          description: Whether the dataset is available for use.
        statusMsg:
          type: string
          description: Status message for the dataset.
        object:
          type: string
          description: Object type identifier.
  parameters:
    DatasetId:
      name: datasetId
      in: path
      required: true
      description: Unique identifier for the dataset.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token. Generate a token using your Einstein Platform Services private key.
x-refined-from:
- salesforce-einstein-language-openapi.yml
- salesforce-einstein-vision-openapi.yml
