openapi: 3.2.0
info:
  title: Salesforce Einstein API Usage API
  version: 2.0.0
  contact:
    name: Salesforce Developer Support
    url: https://developer.salesforce.com/
  license:
    name: Salesforce Master Subscription Agreement
    url: https://www.salesforce.com/company/legal/agreements/
  termsOfService: https://www.salesforce.com/company/legal/agreements/
  description: 'Operations tagged API Usage across 2 of this provider''s published API definitions: salesforce-einstein-language-openapi.yml, salesforce-einstein-vision-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.einstein.ai/v2/language
  description: Einstein Language Production Server
- url: https://api.einstein.ai/v2/vision
  description: Einstein Vision Production Server
security:
- bearerAuth: []
tags:
- name: API Usage
  description: Monitor API usage and limits
paths:
  /apiusage:
    get:
      operationId: getApiUsage
      summary: Salesforce Einstein Get API usage
      description: Returns API usage data for the account.
      tags:
      - API Usage
      responses:
        '200':
          description: Successful response with usage data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUsageList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.einstein.ai/v2/language
      description: Einstein Language Production Server
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        errorCode:
          type: string
          description: Machine-readable error code.
    ApiUsage:
      type: object
      properties:
        id:
          type: string
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        plan:
          type: object
          properties:
            planId:
              type: string
            source:
              type: string
        predictionsUsed:
          type: integer
        predictionsMax:
          type: integer
        object:
          type: string
    ApiUsageList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApiUsage'
        object:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized. Invalid or missing bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token. Generate a token using your Einstein Platform Services private key.
x-refined-from:
- salesforce-einstein-language-openapi.yml
- salesforce-einstein-vision-openapi.yml
