openapi: 3.2.0
info:
  title: Salesforce Einstein Examples API
  version: 2.0.0
  contact:
    name: Salesforce Developer Support
    url: https://developer.salesforce.com/
  license:
    name: Salesforce Master Subscription Agreement
    url: https://www.salesforce.com/company/legal/agreements/
  termsOfService: https://www.salesforce.com/company/legal/agreements/
  description: 'Operations tagged Examples across 2 of this provider''s published API definitions: salesforce-einstein-language-openapi.yml, salesforce-einstein-vision-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.einstein.ai/v2/language
  description: Einstein Language Production Server
- url: https://api.einstein.ai/v2/vision
  description: Einstein Vision Production Server
security:
- bearerAuth: []
tags:
- name: Examples
  description: Manage training examples within datasets
paths:
  /datasets/{datasetId}/examples:
    get:
      operationId: listExamples
      summary: Salesforce Einstein List examples in a dataset
      description: Returns a list of text examples in the specified dataset.
      tags:
      - Examples
      parameters:
      - $ref: '#/components/parameters/DatasetId'
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: count
        in: query
        schema:
          type: integer
          default: 25
          maximum: 100
      - name: source
        in: query
        schema:
          type: string
          enum:
          - all
          - upload
          - feedback
      responses:
        '200':
          description: Successful response with examples list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addExample
      summary: Salesforce Einstein Add an example to a dataset
      description: Adds a labeled text example to an existing dataset.
      tags:
      - Examples
      parameters:
      - $ref: '#/components/parameters/DatasetId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the example.
                labelId:
                  type: integer
                  description: ID of the label to assign.
                document:
                  type: string
                  description: Text content of the example.
              required:
              - name
              - labelId
              - document
      responses:
        '200':
          description: Example added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.einstein.ai/v2/language
      description: Einstein Language Production Server
components:
  responses:
    BadRequest:
      description: Bad request. Invalid parameters or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized. Invalid or missing bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Example:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        label:
          $ref: '#/components/schemas/Label'
        createdAt:
          type: string
          format: date-time
        object:
          type: string
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        errorCode:
          type: string
          description: Machine-readable error code.
    ExampleList:
      type: object
      properties:
        object:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Example'
    Label:
      type: object
      properties:
        id:
          type: integer
        datasetId:
          type: integer
        name:
          type: string
        numExamples:
          type: integer
    Example_2:
      type: object
      properties:
        id:
          type: integer
          description: Unique example identifier.
        name:
          type: string
          description: Example name.
        location:
          type: string
          description: URL to the image.
        label:
          $ref: '#/components/schemas/Label_2'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the example was created.
        object:
          type: string
    Label_2:
      type: object
      properties:
        id:
          type: integer
          description: Unique label identifier.
        datasetId:
          type: integer
          description: Dataset the label belongs to.
        name:
          type: string
          description: Label name.
        numExamples:
          type: integer
          description: Number of examples with this label.
  parameters:
    DatasetId:
      name: datasetId
      in: path
      required: true
      description: Unique identifier for the dataset.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token. Generate a token using your Einstein Platform Services private key.
x-refined-from:
- salesforce-einstein-language-openapi.yml
- salesforce-einstein-vision-openapi.yml
